asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bs4==0.0.1
chardet==3.0.4
cliapp==1.20170827
click==7.1.1
cmdtest==0.32
colorama==0.3.7
cryptography==2.3
cycler==0.10.0
decorator==4.1.2
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
Flask==1.1.2
Flask-Cors==3.0.8
gyp==0.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
Markdown==2.6.9
MarkupSafe==1.1.1
matplotlib==2.1.1
monotonic==1.0
numpy==1.13.3
olefile==0.45.1
pathlib2==2.3.0
Pillow==5.1.0
Pivy==0.5.0
ply==3.11
psutil==5.4.2
pycairo==1.16.2
pycollada==0.4
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.2.0
PySide==1.2.2
python-dateutil==2.6.1
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
scandir==1.7
SecretStorage==2.3.1
six==1.14.0
soupsieve==1.9.5
subprocess32==3.2.7
ttystatus==0.38
webencodings==0.5
Werkzeug==1.0.1
